@keyframes to-left {
    from {width:  0%;}
    to {width: 100%;}
}
@keyframes to-right {
    from {width:  100%;}
    to {width: 0%;}
}

.header{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--principal-green);
    color: var(--principal-cream);
    position: sticky;
}

.navigator {
    width: var(--width-container-screen-320);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigator .title {
    display: block;
    font-size: 10px;
}

.navigator .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px; /* Adjust the size of the hamburger */
    height: 30px;
    cursor: pointer;
}

.navigator .hamburger .hamburgerLine{
    width: 100%;
    height: 2px;
    background-color: var(--principal-cream);
    transition: transform .4s ease;
}
.navigator .hamburger .hamburgerLine:nth-last-child(1){
    margin-top: 5px;
}

.navigator .navigatorList{
    display: none;
    list-style-type: none;
}

.navigator .asideMenu {
    position: fixed;
    background: var(--strong-green-1);
    color: var(--principal-cream);
    right: 0px;
    top: 50px;
    height: calc(100% - 50px);
    width: 0%;
}

input:checked~.hamburger~.asideMenu{
    display: block;
    animation-name: to-left;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
input:not(:checked):hover~.hamburger~.asideMenu{
    animation-name: to-right;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

input:checked~ .hamburger .hamburgerLine:nth-last-child(1){
   transform: rotate(45deg) translate(0, 0);
   margin-top: -2px;
}

input:checked~ .hamburger .hamburgerLine:nth-last-child(2){
    transform: rotate(-45deg) translate(0, 0);
}

.asideMenu .asideMenuNavigator {
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    padding-bottom: 10px;
}

.asideMenu .asideMenuNavigator .aside.navigatorList{
    display: block;
}

.asideMenu .asideMenuNavigator .aside.navigatorList .listItem{
    font-size: 48px;    
}

@media (min-width: 1024px) {
    .navigator .hamburger{
        display: none;
    }
    .navigator .navigatorList{
        display: flex;
        gap: 10px;
    }
    .navigator .navigatorList .listItem:hover{
        text-decoration: underline;
    }
}

@media (min-width: 1440px) {
    .navigator {
        width: var(--width-container-screen-1440);
    }
}