:root {
  --principal-green: #1B3C35;
  --strong-green-1: #132a2a;
  --strong-green-2: #0b1819;
  --strong-green-3: #030707;
  --light-green-1: #234c4e;
  --light-green-2: #2b5e5f;
  --light-green-3: #336f71;

  --principal-cream: #eae6de;
  --strong-cream-1: #e0dace;
  --strong-cream-2: #d6cebf;
  --strong-cream-3: #ccc3af;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--principal-green);
  color: var(--principal-cream);
}

a {
  color: inherit;
  text-decoration: none;
}